/*
;; Version: $Id$
;;
*/

/* Commentary:
;;
*/

/* Change Log:
;;
*/

/* Code: */

QScrollArea {
    background: transparent;
}

QScrollArea > QWidget > QWidget {
    background: transparent;
}

QScrollArea > QWidget > QScrollBar {
    background: palette(base);
}

QScrollBar:horizontal {
    background: transparent;
    height: 6px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal {
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 2px;
    min-height: 20px;
}

QScrollBar::add-line:horizontal {
    height: 0px;
}

QScrollBar::sub-line:horizontal {
    height: 0px;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    width: 0px;
    height: 0px;
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background: transparent;
    width: 6px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 2px;
    min-height: 20px;
}

QScrollBar::add-line:vertical {
    height: 0px;
}

QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    width: 0px;
    height: 0px;
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QToolButton {
    border: none;
}

/* *****************************************************************
;;
;; ******************************************************************/

dtkWidgetsOverlayPaneItemHeader
{
    background: "#88181818";
}

/* *****************************************************************
;;
;; ******************************************************************/

dummy
{
    background: "#aaaa00";
}

/* main.qss ends here */
